@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.apexcharts-toolbar{
    width: 80%;
    max-width: none;
    flex-direction: end;
}